<!-- <h3>Sign Up</h3>
<form action="/signup" method="POST">
<input type="text" name="name" placeholder="Name:">
<input type="text" name="username" placeholder="Username/Email:">
<input type="password" name="password" placeholder="Password:">
<input type="submit" value="Sign Up">
</form> -->


<head>
</head>


<form action="/signup" method="POST">
  <div class="group">
    <input type="text" placeholder="Name" name="name"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="email" placeholder="Email" name="username"><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group">
    <input type="password" placeholder="Password" name="password"><span class="highlight"></span><span class="bar"></span>
  </div>

  <button type="submit" class="button buttonBlue">Sign Up
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
